<%- include ("header.ejs") %>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Cart</a>
          <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <% if (address && address.length> 0) { %>
              <div class="address-list">
                <% address.forEach(address=> { %>
                  <div class="address-item">
                    <label>
                      <!-- Add a data attribute to the radio button to store the address ID -->
                      <input type="radio" name="selectedAddress" value="<%= address.id %>" class="address-radio"
                        data-address-id="<%= address.id %>">
                      <span class="larger-text">
                        <%= address.saveas %>
                      </span>
                    </label>
                    <div class="address-details larger-text">
                      <p><span class="key">Full Name: </span>
                        <%= address.fullname %>
                      </p>
                      <p><span class="key">House name/Flat no:</span>
                        <%= address.adname %>
                      </p>
                      <p><span class="key">Street:</span>
                        <%= address.street %>
                      </p>
                      <p><span class="key">City:</span>
                        <%= address.city %>
                      </p>
                      <p><span class="key">Pin-Code:</span>
                        <%= address.pincode %>
                      </p>
                      <p><span class="key">State:</span>
                        <%= address.state %>
                      </p>
                      <p><span class="key">Country:</span>
                        <%= address.country %>
                      </p>
                      <!-- Add other address properties as needed -->
                    </div>
                  </div>
                  <% }); %>
              </div>
              <% } else { %>
                <div>No addresses found.</div>
                <% } %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div>
                    <button type="button" class="btn btn-primary" id="addAddressBtn">Add Address</button>
                  </div>

                  <div class="form-group">
                    <div class="suso container mt-4">
                      <div class="edit-profile-form" id="newAddressForm" style="display: none;">
                        <!-- Initially hidden -->
                        <!-- Address form -->
                        <p style="font-weight: 600; color: red;">!! The Address May not be saved if you enter invalid
                          details </p>

                        <h2>Add New Address</h2>
                        <form action="/checkoutreload" id="addressForm" method="post" class="row">

                          <!-- Personal details -->

                          <div class="form-group col-md-6">
                            <label for="saveas">Save as</label>
                            <input type="text" id="saveas" name="saveas" class="form-control">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="fullname">Full Name</label>
                            <input type="text" id="fullname" name="fullname" class="form-control">
                          </div>

                          <div class="form-group col-md-6">
                            <label for="adname">House Name / Flat No</label>
                            <input type="text" id="adname" name="adname" class="form-control">
                          </div>

                          <div class="form-group col-md-6">
                            <label for="street">Street</label>
                            <input type="text" id="street" name="street" class="form-control">
                          </div>

                          <div class="form-group col-md-6">
                            <label for="pincode">Pincode</label>
                            <input type="number" id="pincode" name="pincode" class="form-control">
                          </div>

                          <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" class="form-control">
                          </div>

                          <div class="form-group col-md-6">
                            <label for="state">State</label>
                            <select id="state" name="state" class="form-control" required>
                              <option value="" disabled selected>Select a state</option>
                              <option value="Kerala">Kerala</option>
                              <option value="Karnataka">Karnataka</option>
                              <option value="TamilNadu">Tamil Nadu</option>
                            </select>
                          </div>

                          <div class="form-group col-md-6">
                            <label for="country">Country</label>
                            <select id="country" name="country" class="form-control" required>
                              <option value="India">India</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="phone">Phone Number</label>
                            <input type="number" id="phone" name="phone" class="form-control">
                          </div>

                          <input type="hidden" name="cartId" value="<%= data._id %>">

                          <div class="form-group col-12">
                            <button id="saveChangesButton" type="submit" class="btn btn-primary">Save Changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <!-- Button to toggle address form visibility -->
          </div>
        </div>

        <!-- Right Column for Coupon Code and Your Order -->
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
              <div class="p-3 p-lg-5 border">

                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                <div class="input-group w-75">
                  <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                    aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-12 mb-5">
            <h2 class="h3 mb-3 text-black">Your Order</h2>
            <div class="p-3 p-lg-5 border">
              <table class="table site-block-order-table mb-5">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% data.item.forEach((item)=> { %>
                    <tr>
                      <td>
                        <%= item.productId.name %> <strong class="mx-2">x</strong>
                          <%= item.quantity %>
                      </td>
                      <td>
                        <%= item.total %>
                      </td>
                    </tr>
                    <% }) %>
                      <tr>
                        <td class="text-black font-weight-bold">Cart Subtotal:</td>
                        <td class="text-black font-weight-bold">₹<%= data.total %>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">Discount:</td>
                        <td class="text-black font-weight-bold">₹0</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">Order Total:</td>
                        <td class="text-black font-weight-bold">₹<%= data.total %>
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>




          <div class="border p-3 mb-3">
            <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

            <div class="collapse" id="collapsebank">
              <div class="py-2">
                <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID
                  as the
                  payment reference. Your order won’t be shipped until the funds have cleared in our
                  account.</p>
              </div>
            </div>
          </div>

          <div class="border p-3 mb-3">
            <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

            <div class="collapse" id="collapsecheque">
              <div class="py-2">
                <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID
                  as the
                  payment reference. Your order won’t be shipped until the funds have cleared in our
                  account.</p>
              </div>
            </div>
          </div>

          <div class="border p-3 mb-5">
            <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>

            <div class="collapse" id="collapsepaypal">
              <div class="py-2">
                <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID
                  as the
                  payment reference. Your order won’t be shipped until the funds have cleared in our
                  account.</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='thankyou.html'">Place
              Order</button>
          </div>


        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>



  <script>
    document.getElementById('addAddressBtn').addEventListener('click', function () {
      var addressForm = document.getElementById('newAddressForm');
      if (addressForm.style.display === 'none') {
        addressForm.style.display = 'block';
      } else {
        addressForm.style.display = 'none';
      }
    });
    function updateHiddenField(selectedRadio) {
      document.getElementById('selectedPaymentOption').value = selectedRadio.value;
    }

  </script>
  <%- include ("footer.ejs") %>