<%- include ("header.ejs") %>
<hr>
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Cart</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Checkout</strong>
      </div>
    </div>
  </div>
</div>

<form id="orderform">
<div class="site-section">
  <div class="container">
    <div class="row align-items-stretch">
        <div class="col-md-6">
          <% if (address && address.address) { %>
          <div class="address-list">
            <% address.address.forEach((address,index)=> { %>
            <div class="address-item btn border">
              <label for="address<%= index + 1 %>">
                <!-- Add a data attribute to the radio button to store the address ID -->
                <input type="radio" name="address" id="address<%= index+1 %>" value="<%= index %>" class="address-radio"
                  data-address-id="<%= address._id %>">
                <span class="larger-text font-weight-bold text-black">
                  <%= address.save_as %>
                </span>
                <div class="address-details larger-text">
                  <p><span class="key">Full Name: </span>
                    <%= address.name %>
                  </p>
                  <p><span class="key">House name/Flat no:</span>
                    <%= address.housename %>
                  </p>
                  <p><span class="key">Street:</span>
                    <%= address.street %>
                  </p>
                  <p><span class="key">City:</span>
                    <%= address.city %>
                  </p>
                  <p><span class="key">Pin-Code:</span>
                    <%= address.pincode %>
                  </p>
                  <p><span class="key">State:</span>
                    <%= address.state %>
                  </p>
                  <p><span class="key">Country:</span>
                    <%= address.country %>
                  </p>
                  <!-- Add other address properties as needed -->
                </div>
              </label>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <div>No addresses found.</div>
          <% } %>
          <div>
            <a class="btn btn-primary mt-3" href="/addAddress">Add Address</a>
          </div>
        </div>

      <!-- Right Column for Coupon Code and Your Order -->
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Coupon Code</h2>
            <div class="p-3 p-lg-5 border">
              <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
              <div class="input-group w-75">
                <input type="text" class="form-control" id="c_code" placeholder="Coupon Code"
                  aria-label="Coupon Code" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <input type="hidden" id="pay" name="pay" value="0" />
        <div class="col-md-12 mb-5">
          <h2 class="h3 mb-3 text-black">Your Order</h2>
          <div class="p-3 p-lg-5 border">
            <table class="table site-block-order-table mb-5">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% data.item.forEach((item)=> { %>
                <tr>
                  <td>
                    <%= item.productId.name %> <strong class="mx-2">x</strong>
                    <%= item.quantity %>
                  </td>
                  <td>
                    <%= item.total %>
                  </td>
                </tr>
                <% }) %>
                <tr>
                  <input type="hidden" name="cartId" value="<%= data._id %>">
                  <input type="hidden" id="amount" name="amount" value="<%= data.total %>" />
                  <td class="text-black font-weight-bold">Cart Subtotal:</td>
                  <td class="text-black font-weight-bold">₹<%= data.total %>
                  </td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold">Discount:</td>
                  <td class="text-black font-weight-bold">₹0</td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold">Delivery:</td>
                  <td class="text-black font-weight-bold">₹0</td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold">Order Total:</td>
                  <td class="text-black font-weight-bold" id="total">₹<%= data.total %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-column border p-3 mb-3 btn">
              <label class="flex-grow-1 d-flex align-items-center">
                <input type="radio" name="paymentOption" value="cashOnDelivery" onclick="handlePaymentMethodSelection()"
                  class="h6 mb-0 align-self-start">
                <span class="d-block ml-3 text-primary">Cash on Delivery</span>
              </label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="d-flex flex-column border p-3 mb-3 btn">
              <label class="flex-grow-1 d-flex align-items-center">
                <input type="radio" name="paymentOption" onclick="handlePaymentMethodSelection()"
                  class="h6 mb-0 align-self-start">
                <span class="d-block ml-3 text-primary">Direct Bank Transfer</span>
              </label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="d-flex flex-column border p-3 mb-3 btn">
              <label class="flex-grow-1 d-flex align-items-center">
                <input type="radio" name="paymentOption" value="upi" onclick="handlePaymentMethodSelection()"
                  class="h6 mb-0 align-self-start">
                <span class="d-block ml-3 text-primary">Online Payment</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button id="placeOrderBtn" class="btn btn-primary btn-lg py-3 btn-block" onclick="proceedToOrder()">Place
            Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<script>
  function handlePaymentMethodSelection() {
    const selectedPaymentMethod = document.querySelector(
      'input[name="paymentOption"]:checked'
    );
    if (selectedPaymentMethod) {
      const hiddenInput = document.getElementById("pay");
      hiddenInput.value = selectedPaymentMethod.value;
    }
  }
  document.getElementById('placeOrderBtn').addEventListener('click', function (event) {
    event.preventDefault(); 
    proceedToOrder();
  });

  function proceedToOrder() {
    var selectedAddress = document.querySelector('input[name="address"]:checked');
    var selectedPayment = document.querySelector('input[name="paymentOption"]:checked');

    if (!selectedAddress) {
      console.log("Address not selected");
      Swal.fire({
        text: "Select the delivery address",
        icon: "error",
        confirmButtonText: "OK",
        customClass: {
          title: "text-danger",
          popup: "swal2-popup-custom",
          confirmButton: "btn btn-danger",
        },
        showCancelButton: false,
        showCloseButton: true,
        showLoaderOnConfirm: false
      });
    } else if (!selectedPayment) {
      console.log("Payment option not selected");
      Swal.fire({
        text: "Select a Payment option",
        icon: "error",
        confirmButtonText: "OK",
        customClass: {
          title: "text-danger",
          popup: "swal2-popup-custom",
          confirmButton: "btn btn-danger",
        },
        showCancelButton: false,
        showCloseButton: true,
        showLoaderOnConfirm: false
      });
    }else if(selectedPayment.value=='upi'){
      const amt = document.getElementById("total").textContent.trim();
      const amount = amt.replace(/[^0-9.-]/g, ''); 
      console.log(parseFloat(amount))
      var options={
            key: 'rzp_test_IjovpkTeb85bN5',
            amount: parseFloat(amount) * 100,
            currency: "INR",
            name: "VintageRags",
            description: "Test Transaction",
            image: "VintageRags",
            order_id: orderId,
            handler: function (response) {
              alert(response.razorpay_payment_id);

              document.getElementById("orderform").method = "post";
              document.getElementById("orderform").action = "/order";

              document.getElementById("orderform").submit();
            },

            theme: {
              color: "#4285F4",
            },
          };
          var rzp1 = new Razorpay(options);
          rzp1.on("payment.failed", function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.payment_id);
          });
          rzp1.open();

          event.preventDefault();

          var orderId;
          $(document).ready(function () {
            var settings = {
              url: "/create/orderId",
              method: "POST",
              timeout: 0,
              headers: {
                "Content-Type": "application/json",
              },
              data: JSON.stringify({
                amount: parseFloat(amount) * 100,
              }),
            };

            $.ajax(settings).done(function (response) {
              orderId = response.orderId;
              console.log(orderId);
              $("button").show();
            });
          });
    }else if (selectedPayment.value == "cashOnDelivery") {
      console.log("Cash on Delivery selected");
      document.getElementById("orderform").action = "/order";
      document.getElementById("orderform").method = "post";
      document.getElementById("orderform").submit();
      const amount = document.getElementById("total").textContent.trim();
      document.getElementById("total").innerText = `${amount}`;
      document.getElementById("amount").value = `${amount}`;
    }
  }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<%- include ("footer.ejs") %>
