<%- include ("header.ejs") %>
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/profile">User</a> <span class="mx-2 mb-0">/</span><a href="/orders">Orders</a><span class="mx-2 mb-0">/</span> <strong class="text-black">OrderDetails</strong></div>
      </div>
    </div>
  </div>
<div class="container mt-5 text-center"> <!-- Added 'text-center' class to center content -->
    <div class="row">
        <div class="col-12 col-md-10 hh-grayBox mx-auto text-center pt-4 pb-4">
            <% if (order.status==='pending' ) { %>
                <div class="row justify-content-between">
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class=" bg-primary rounded px-3" style="color: aliceblue;">
                            <%= order.updated.toLocaleString('en-US', { year: 'numeric' , month: 'short' ,
                                day: 'numeric' }) %><br>Ordered
                        </p>
                    </div>
                    <div class="order-tracking">
                        <span class="is-complete"></span>
                        <p class="text-dark">Processing</p>
                    </div>
                    <div class="order-tracking">
                        <span class="is-complete"></span>
                        <p class="text-dark">Shipped</p>
                    </div>
                    <div class="order-tracking">
                        <span class="is-complete"></span>
                        <p class="text-dark">Delivered</p>
                    </div>
                </div>
            <% } else if (order.status==='processing' ) { %>
                <!-- Adjusted alignment -->
                <div class="row justify-content-between">
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class="text-dark">Ordered</p>
                    </div>
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class=" bg-primary rounded px-3" style="color: aliceblue;">
                            <%= order.updated.toLocaleString('en-US', { year: 'numeric' , month: 'short' ,
                                day: 'numeric' }) %><br>Processing
                        </p>
                    </div>
                    <div class="order-tracking">
                        <span class="is-complete"></span>
                        <p class="text-dark">Shipped</p>
                    </div>
                    <div class="order-tracking">
                        <span class="is-complete"></span>
                        <p class="text-dark">Delivered</p>
                    </div>
                </div>
            <% } else if (order.status==='shipped' ) { %>
                <!-- Adjusted alignment -->
                <div class="row justify-content-between">
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class="text-dark">Ordered</p>
                    </div>
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class="text-dark">Processing</p>
                    </div>
                    <div class="order-tracking completed">
                        <span class="is-complete "></span>
                        <p class=" bg-primary rounded px-3" style="color: aliceblue;">
                            <%= order.updated.toLocaleString('en-US', { year: 'numeric' , month: 'short'
                                , day: 'numeric' }) %><br>Shipped
                        </p>
                    </div>
                    <div class="order-tracking">
                        <span class="is-complete"></span>
                        <p class="text-dark">Delivered</p>
                    </div>
                </div>
            <% } else if (order.status==='delivered' ) { %>
                <!-- Adjusted alignment -->
                <div class="row justify-content-between">
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class="text-dark">Ordered</p>
                    </div>
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class="text-dark">Processing</p>
                    </div>
                    <div class="order-tracking completed">
                        <span class="is-complete"></span>
                        <p class="text-dark">Shipped</p>
                    </div>
                    <div class="order-tracking completed">
                        <span class="is-complete btn-block"></span>
                        <p class=" bg-primary rounded px-3" style="color: aliceblue;">
                            <%= order.updated.toLocaleString('en-US', { year: 'numeric' ,
                                month: 'short' , day: 'numeric' }) %><br>Delivered
                        </p>
                    </div>
                </div>
            <% } else if (order.status==='Cancelled' ) { %>
                <!-- Adjusted alignment -->
                <div class="row justify-content-between">
                    <div class="order-tracking completed cancelled">
                        <span class="is-complete"></span>
                        <p class="text-dark">Ordered</p>
                    </div>
                    <div class="order-tracking completed cancelledd">
                        <span class="is-complete"></span>
                        <p class="text-dark">Cancel Requested</p>
                    </div>
                    <div class="order-tracking completed cancelledd">
                        <span class="is-complete"></span>
                        <p class="text-dark">Accepted</p>
                    </div>
                    <div class="order-tracking completed cancelledd">
                        <span class="is-complete btn-block"></span>
                        <p class=" bg-primary rounded px-3" style="color: aliceblue;">
                            <%= order.updated.toLocaleString('en-US', { year: 'numeric' ,
                                month: 'short' , day: 'numeric' }) %><br>Cancelled
                        </p>
                    </div>
                </div>
            <% } else { %>
                <h2 class="text-dark">No order Details</h2>
            <% } %>
        </div>
    </div>

    <h5 class="text-dark">Order ID: <%= order.orderId %>
    </h5>
    <p class="text-dark">Delivery Address: <%= order.address[0].save_as %>,
        <%= order.address[0].housename %>,
        <%= order.address[0].city %>,
        <%= order.address[0].pincode %>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="text-dark">Product Name</th>
                <th class="text-dark">Size</th>
                <th class="text-dark">Quantity</th>
                <th class="text-dark">Price</th>
                <th class="text-dark">Total</th>
                <th class="text-dark">Payment</th>
            </tr>
        </thead>
        <tbody>
            <% order.items.forEach(item=> { %>
                <tr>
                    <td class="text-dark">
                        <%= item.productId.name %>
                    </td>
                    <td class="text-dark">
                        <%= item.size %>
                    </td>
                    <td class="text-dark">
                        <%= item.quantity %>
                    </td>
                    <td class="text-dark">
                        <%= item.price %>
                    </td>
                    <td class="text-dark">
                        <%= item.quantity * item.price %>
                    </td>
                    <td class="text-dark">
                        <%= order.payment %>
                    </td>
                </tr>
            <% }); %>
            <tr>
                <td class="text-dark"></td>
                <td class="text-dark"></td>
                <td class="text-dark"></td>
                <td class="text-dark">Total Amount </td>
                <td class="text-dark">
                    <%= order.amount %>
                </td>
            </tr>
        </tbody>
    </table>
</div> 
<% if(order.status=="delivered"){ %>
    <div class="text-center mt-4">
        <a href="/downloadInvoice/<%= order.orderId %>" class="btn btn-success btn-lg" download>Download Invoice</a>
      </div>
      
    <% } %>
<!-- Closed the container -->
<%- include ("footer.ejs") %>
